:root{

    --background:#0f0f11;

    --surface:#18181b;

    --primary:#ffffff;

    --secondary:#b3b3b3;

    --border:#2d2d2d;

    --accent:#4F8CFF;

    --radius:18px;

    --transition:.3s ease;

}