:root {

    --background:#0f0f11;

    --surface:#18181b;

    --card-bg:var(--surface);

    --primary:#ffffff;

    --secondary:#b3b3b3;

    --border:#2d2d2d;

    --accent:#FF5A1F;

    --radius:18px;

    --transition:.3s ease;

    --text:#ffffff;

    --page-background:linear-gradient(
        to bottom,
        #111111 0%,
        #111111 60%,
        #FF5A1F 69%,
        #FF5A1F 100%
    );

}


/* LIGHT THEME */

.light-theme {

    --background:#3e3a32;

    --surface:#FFFDF8;

    --card-bg:var(--surface);

    --primary:#69bb63;

    --secondary:#6B7280;

    --border:#D9D4C7;

    --accent:#7A9E7E;

    --text:#101110;

    --page-background:linear-gradient(
        to bottom,
        #464034 0%,
        #9b9996 60%,
        #A8C8A0 69%,
        #7A9E7E 100%
    );

}
